@model ProductDTO

<form asp-action="ProductCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Criar Produto</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Nome</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Preço</label>
            </div>
            <div class="col-2 pb-3">
                <input asp-for="Price" class="form-control" type="text" oninput="replaceCommaWithDot(this)"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="row"></div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Descrição</label>
            </div>
            <div class="col-10 pb-3">
                <textarea rows="5" asp-for="Description" class="form-control" type="text"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Categoria</label>
            </div>
            <div class="col-10 pb-3">
                <input  asp-for="CategoryName" class="form-control" type="text" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Url da Imagem</label>
            </div>
            <div class="col-10 pb-3">
                <input  asp-for="ImageUrl" class="form-control" type="text" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">

                <a asp-action="ProductIndex" class="btn-primary btn form-control ">Voltar para a Lista </a>
            </div>
            <div class="col-5">
                <input type="submit" value="Criar Produto" class="btn btn-success form-control" />

            </div>

        </div>

        <div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function replaceCommaWithDot(input) {
            input.value = input.value.replace(/,/g, '.');

            // Limitar o número de casas decimais a no máximo duas
            var decimalIndex = input.value.indexOf('.');
            if (decimalIndex !== -1) {
                var decimalPart = input.value.substring(decimalIndex + 1);
                if (decimalPart.length > 2) {
                    input.value = input.value.substring(0, decimalIndex + 3);
                }
            }
        }


    </script>
}